#!/bin/sh
#
#	$FreeBSD: ports/net-mgmt/nagios/files/DEINSTALL.tmpl,v 1.1 2004/02/11 04:56:00 linimon Exp $
#

USER=%%NAGIOSUSER%%
GROUP=%%NAGIOSGROUP%%
DIR=%%NAGIOSDIR%%

if [ "$2" = "POST-DEINSTALL" ]; then

    if /usr/sbin/pw group show "${GROUP}" 2>&1 >/dev/null; then
	echo "You should manually remove the \"${GROUP}\" group."
    fi

    if /usr/sbin/pw user show "${USER}" 2>&1 >/dev/null; then
	echo "You should manually remove the \"${USER}\" user."
    fi

    if [ -e ${DIR} ]; then
	echo "You should manually remove the \"${DIR}\" directory."
    fi
fi
