<?php
/* $FreeBSD: ports/databases/phpmyadmin/files/config.inc.php.sample,v 1.2 2006/03/16 06:24:05 sem Exp $
 *
 * Skeleton configuration file -- this file is empty on a fresh
 * installaton of phpmyadmin.
 * 
 * Copy any settings you want to override from
 * libraries/config.default.php or use scripts/setup.php to generate a
 * basic configuration file
 * 
 */


?>
